

    <div style="text-align:center">    <h1>Display all Wallets</h1>
     <br>
     <br>   
    </div>
    <div class="container" >
    <table 
    border="3"
     class ='table' >
     <thead style="background-color:blue;">
        <tr>
            <th> Id </th>
            <th>Name</th>
            <th>Balance</th>
            <th>Buttons</th>
        </tr>
    </thead>
    <tbody style = "background-color:rgb(153, 204, 236)">
     <tr *ngFor="let wal of walletdata">
        <td>{{wal.id}}</td>
        <td>{{wal.name}}</td>
        <td>{{wal.balance}}</td>
        <td>
           
        
            <input type="button" class="btn btn-danger" (click)="deleteWallet(wal.id)" value="Delete">
          
            <input type = "button" class="btn btn-warning" (click) = "addFunds()" value = "ADD FUNDS">
          
            <input type = "button" class="btn btn-success" (click) = "withdrawFunds()" value = "WITHDRAW FUNDS">
        
            <input type = "button" class="btn btn-dark"(click) = "tranferFunds()" value = "TRANSFER FUNDS">
        
        </td>
     </tr>
    </tbody>
    </table>
    <div *ngIf="msg" class="alert alert-success" >
        <p class="">{{msg}}</p>
    </div>
    <div *ngIf="errorMsg" class="alert alert-danger">
        <p>{{errorMsg}}</p> 
    </div>
</div>
