<p>update works!</p>
<form>
    Id:
    <input type="text" [(ngModel)]="walletdata.id" name="id" id = "id" disabled>
    Name:
    <input type="text" [(ngModel)]="walletdata.name" name="name" id = "name" >
    Salary:
    <input type="number" [(ngModel)]="walletdata.balance" name="balance" id = "salary" > 
    <input type="button" (click)="updateWallet()" value="Update">

    <div *ngIf="msg" class="alert alert-success" >
        <p class="">{{msg}}</p>
    </div>
    <div *ngIf="errorMsg" class="alert alert-danger">
        <p>{{errorMsg}}</p> 
    </div>

</form>

